* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Inter', sans-serif;
    background-color: #0e0e0e;
    color: #fff;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #0e0e0e;
  }
  
  .logo {
    font-size: 24px;
    font-weight: 600;
    color: white;
  }
  
  .logo span {
    color: #4173ff;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-weight: 600;
  }
  
  nav a.active {
    color: #4173ff;
  }
  
  .icons i {
    margin-left: 20px;
    font-size: 20px;
    color: white;
    cursor: pointer;
  }
  
  .banner {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 60px;
    position: relative;
  
    /* IMAGEM por cima, GRADIENTE por baixo */
    background-image: url("banner.png");
    background-size: contain, cover;        /* imagem: contain | gradiente: cover */
    background-position: right;
    background-repeat: no-repeat, no-repeat;
    background-color: #2288dc;            /* fallback se gradiente não carregar */
  }
  
  
  .banner h1 {
    font-size: 28px;
    font-weight: 700;
  }
  
  .banner p {
    margin: 10px 0;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4173ff;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 4px;
    background: linear-gradient(90deg, #6366f1, #3b82f6);
    transition: 0.3s;
  }
  .btn:hover {
    transform: scale(1.05);
    background: linear-gradient(90deg, #3b82f6, #2563eb);
  }
  .produtos {
    padding: 40px;
    text-align: center;
  }
  
  .produtos h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .seta i {
    font-size: 28px;
    color: white;
    cursor: pointer;
  }
  
  .produtos-container {
    display: flex;
    gap: 30px;
    overflow-x: auto;
  }
  
  .produto {
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
  }
  
  .produto img {
    width: 100%;
    height: auto;
    border-radius: 6px;
  }
  
  footer {
    background-color: #0e0e0e;
    padding: 40px 60px;
    color: #ccc;
  }
  
  .footer-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15em;
  }
  
  .links ul {
    list-style: none;
  }
  
  .links li {
    margin: 5px 0;
  }
  
  .social a {
    margin-left: 15px;
    font-size: 22px;
    color: white;
    text-decoration: none;
  }
  
  footer p {
    text-align: center;
    margin-top: 20px;
    color: #666;
  }
  

